.header-body {
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  min-height: 10%;
  font-size: 18pt; }

.image-logo {
  padding-left: 15px;
  width: 130px;
  height: 100px; }

.header-user {
  float: right;
  padding-top: 40px;
  padding-right: 50px;
  font-size: 14pt; }
