.login-container {
  background-image: url("http://www.salttechno.com/wp-content/uploads/2015/08/web-designer-pune-background.jpg");
  width: 100%;
  position: absolute;
  height: auto; }

.login-form {
  margin-left: 30%;
  margin-right: 25%;
  width: 50%; }

.login-title {
  width: 50%;
  margin: 10% 25% 4%;
  text-align: center; }

.register-button {
  margin-left: 10px;
  width: 200px; }
  .register-button a {
    color: white; }

.login-button {
  margin-right: 10px;
  width: 200px; }
