.table-container {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 3%; }

.search-toolbar {
  padding-top: 2%;
  width: 100%;
  align-items: baseline; }

.search-input {
  width: 80%;
  height: 30px; }

.select-input {
  width: 100%;
  height: 30px; }

.search-text {
  height: 30px;
  font-size: 12pt; }

.search-button {
  width: 90px;
  height: 30px; }

.button-cart {
  width: 100%;
  background-color: #4593c2;
  color: white;
  height: 60px; }

.button-favourites {
  width: 100%;
  background-color: #4593c2;
  color: white;
  height: 60px; }

.pretty-products {
  display: flex;
  margin-right: 5%;
  margin-left: 5%;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap; }

.filter-row {
  margin-top: 20px; }

.price-filter-container {
  display: inline-flex; }
  .price-filter-container span {
    width: 50%; }
  .price-filter-container .price-input {
    width: 40%;
    height: 30px; }

.pretty-product-container {
  max-width: 23%;
  display: flex;
  flex-direction: column;
  max-height: 15%;
  margin: 3% 1% 1%; }
  .pretty-product-container a {
    display: flex;
    flex-direction: column; }
    .pretty-product-container a img {
      width: 100%;
      height: 60%; }

.table-row {
  text-align: center;
  height: auto; }
  .table-row .table-button {
    height: 30px;
    width: 50px; }
