.shopping-cart-container {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%; }

.shopping-cart-items {
  max-width: 80%; }

.promo-code-container {
  margin-top: 5%;
  display: flex;
  align-items: baseline; }
  .promo-code-container .promo-button {
    margin-left: 2%; }

.price-tag {
  color: forestgreen; }

.total-price {
  font-size: 16pt; }
