.product-details-body{
  margin-left:5%;
  margin-top:2%;
  margin-right:5%;
}
.product-title{
  font-size: 25pt;
  margin-left:3%;
}
.image-container{
  width:100%;

}
.product-stats{
  margin-top: 50px;
  display: flex;
  .stats-container{
    width:100%;
    display: inline-flex;
    flex-direction: column;
    font-size:14pt;

  }
  .operations-container {
    width: 100%;
    flex-direction: column;
    font-size:14pt;
    .button-cart{
      width:100%;
      background-color: #4593c2;
      color:white;
      height: 60px;
    }
    .button-favourites{
      width:100%;
      background-color:  #4593c2;
      color:white;
      height: 60px;
    }
  }
  }